/* accordion1 */
.accordion1 > li {
	margin: 0 0 5px 0;
	padding: 2px 2px;
	border-radius: 5px;
	background-color: #ededed;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.accordion1 > li:hover {
	background-color: #ddd;
}
.accordion1 > li > h2 {
	font-weight: normal;
}
.accordion1 > li > a {
　	color: #5555ff;
	border-bottom:1px solid #eee;
	padding-bottom:1px; 
	background: linear-gradient(transparent 90%, #cbe111 100%);
}
.accordion1 > li .content {
	display: none;
}
/* アコーディオンが開いたときのスタイル */
.accordion1 > li.expanded {
	background-color: #ddd;
}
.accordion1 > li.expanded > h2 {
	font-weight: bold;
}
.accordion1 > li.expanded > h2 {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: solid 1px #fff;
}
.accordion1 > li.expanded > a {
	color: #0000ff;
}

/* accordion2 */
.accordion2 > li {
	margin: 0 0 5px 0;
	padding: 2px 2px;
	border-radius: 5px;
	background-color: #ededed;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.accordion2 > li:hover {
	background-color: #ddd;
}
.accordion2 > li > h2 {
	font-weight: normal;
}
.accordion2 > li > a {
　	color: #5555ff;
	border-bottom:1px solid #eee;
	padding-bottom:1px; 
	background: linear-gradient(transparent 90%, #cbe111 100%);
}
.accordion2 > li .content {
	display: none;
}
/* アコーディオンが開いたときのスタイル */
.accordion2 > li.expanded {
	background-color: #ddd;
}
.accordion2 > li.expanded > h2 {
	font-weight: bold;
}
.accordion2 > li.expanded > h2 {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: solid 1px #fff;
}
.accordion2 > li.expanded > a {
	color: #0000ff;
}

/**
 * RESPONSIVE: スマートフォン向けウィンドウ幅600px以下
 */
@media screen and (max-width:600px) {
	.accordion > li {
		cursor: pointer;
		margin: 0 0 5px 0;
		padding: 25px 10px;
		border-radius: 5px;
		background-color: #ededed;
		background-position: bottom center;
		background-repeat: no-repeat;
	}
	.accordion > li:hover {
		background-color: #ddd;
	}
	.accordion > li > h2 {
		font-weight: normal;
	}
	.accordion > li .content {
		display: none;
	}
	/* アコーディオンが開いたときのスタイル */
	.accordion > li.expanded {
		background-color: #ddd;
	}
	.accordion > li.expanded > h2 {
		font-weight: bold;
	}
	.accordion > li.expanded > h2 {
		margin: 10px 0 0 0;
		padding: 10px 0 0 0;
		border-top: solid 1px #fff;
	}
}